
.header{
    display: flex;
    gap: 20px;

}
.underline {
    text-decoration: underline;
    color: #898989;
}
.layoutBlock {
    margin-top: 100px;
    gap: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}